<!DOCTYPE html>
<html>
  <head>
    <title>ViewComponentsTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <style>
      .this-partial-yields-content {
        border: 1px solid gray;
        padding: 1rem;
        margin-bottom: 1rem;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
